*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    background-color: rgb(202, 128, 63);
    color: rgb(0, 0, 0);
}

.container{
    background-color: rgb(188, 108, 55);
    margin: 20px auto;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    line-height: 25px;
    box-shadow: 1px 3px 0.5em rgb(97, 52, 13);
}

header{
    text-align: center;
    margin-bottom: 10px;
}

em{
    color: rgb(56, 30, 5);
}

header p{
    font-size: 9pt;
}

h1, section > h2, footer{
    color: rgb(255, 210, 155);
}

section > h2{
    background-color: rgb(97, 52, 13);
    text-align: center;
    border-radius: 2px;
    margin: 5px;
}

ul li{
    display: flex;
    justify-content: space-between;
}

.price{
    font-size: 15px;
    font-weight: 600;
}

footer{
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}
